body {
  font-family: Arial, sans-serif;
  margin: 40px;
  background-color: #f8f8f8;
}
.container {
  max-width: 600px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1, h2 {
  text-align: center;
}
ul, ol {
  padding-left: 20px;
}
ol li {
  cursor: pointer;
}
.bordered {
  border: 3px dotted orange;
}
.title-color {
  color: teal;
}
.text-underline {
  text-decoration: underline;
}
.text-overline {
  text-decoration: overline;
}
.is-done {
  text-decoration: line-through;
}
.active {
  font-weight: bold;
}
.highlight {
  background-color: yellow;
}

.animationjs {
  animation: ani 2s ease-in-out both;
}

@keyframes ani {
  0% {
      transform: scale(1);
      opacity: 0;
  }

  25% {
      transform: scale(0.8);
      opacity: 0.25;
  }

  50% {
      transform: scale(1.2);
      opacity: 1.50;
  }

  75% {
      transform: scale(1.3);
      opacity: 0;
  }

  100% {
      transform: scale(1);
      opacity: 1;
  }
}